# IDE
.vscode/
node_modules/
dist/
*.csv
**/*.csv
data/raw/
data/processed/trajectories/*

!frontend/public/data/processed/trajectories/shenzhen_uav_trajectories.json
__pycache__/

# Flask SQLite database
instance/
*.db
